{% if product.variants.size > 1 -%}
    <select id="product-{{ product.id }}" class="custom_select" onchange="productVariantChanged(this);">
        {% for productVariant in product.variants -%}
            <option value="{{ productVariant.id }}" data-handle="{{ product.handle }}" data-image="{{ productVariant.image | img_url:'master' }}" data-price="{{ productVariant.price }}" available="{{ productVariant.available }}" {% if productVariant.available == false %}disabled="disabled"{% endif %} data-currency="{{ shop.currency }}" >{{ productVariant.title }}{% if productVariant.available == false %}- Sold out{% endif %}</option>
        {%- endfor %}
    </select>
{%- endif %}
